
.box {
	position: relative;
	width: 1300px;
	height: 700px;
	margin: 0 auto;
}
#canvas {
	background:#000;
	position: absolute;
	z-index: -1;
}
.top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	letter-spacing: 10px;
	color: gold;
	text-align: center;
	line-height: 50px;
	font-weight: bolder;
}
.middle {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.left {
	float: left;
	width: 800px;
	height: 100%;
	overflow: hidden;
}
.img {
	width: 250px;
	height: 250px;
	margin: 150px auto;
	margin-bottom: 0;
	background: url(../images/demo.gif) no-repeat center;
	background-size: 100% 100%;
	border-radius: 50%;
	border: 5px double orange;
}
.text {
	width: 100%;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-weight: bolder;
	font-size: 30px;
	margin-top: 20px;
	color: skyblue;
}
.contact {
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	color: white;
}
.right {
	float: right;
	width: 350px;
	height: 650px;
	padding-top: 50px;
	padding-left: 100px;
}
.right div {
	width: 120px;
	height: 120px;
	margin-top: 30px;
	border-radius: 20%;
	text-align: center;
	line-height: 120px;
	color: white;
	font-weight: bold;
}
.right div a {
	display: block;
	width: 120px;
	height: 120px;
	margin-top: 30px;
	border-radius: 20%;
	text-align: center;
	line-height: 120px;
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.right div:nth-child(1) a {
	background-color: #20805B;
	transition: 1s;
}
.right div:nth-child(1) a:hover {
	background-color: #3D5B91;
	color: #20805B;
}
.right div:nth-child(2) a {
	background-color: #3D5B91;
	transition: 1s;
}
.right div:nth-child(2) a:hover {
	background-color: #5C9EAE;
	color: #3D5B91;
}
.right div:nth-child(3) a {
	background-color: #5C9EAE;
	transition: 1s;
}
.right div:nth-child(3) a:hover {
	background-color: #B85B54;
	color: #5C9EAE;
}
.right div:nth-child(4) a{
	background-color: #B85B54;
	transition: 1s;
}
.right div:nth-child(4) a:hover {
	background-color: #20805B;
	color: #B85B54;
}
.bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	color: gold;
	letter-spacing: 10px;
	text-align: center;
	line-height: 40px;
	font-weight: bolder;

}
